.credit-value{
    margin-left: 42%;
}
.year-value{
    margin-left: 64%;
    margin-top: -88px;
}
.months-value{
    margin-top: -88px;
    margin-left: 15%;
}
.interest{
    margin-top: 40px;
    margin-left: 42%;
    background-color:coral;
    color: aliceblue;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
}
.result{
    margin-left: 42%;
    color: aliceblue;
    background-color: rgba(128, 128, 128, 0.646);
    margin-right: 485px;
}

.result-place{
    margin-top: 25px;
}
.error-message{
    margin-right: 595px;
}
body {
    background-image: url('credit2.jpg');
}